html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.empty_div {
  position: relative;
  
}
.event_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  padding: 30px;
  align-items: center;
  margin: 30px;
  width: 300px;
  word-wrap: break-all;
  cursor: pointer;
  transition: all 0.5s ease;
}
.event_card::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #5cb85c;
  border-radius: 100%;
  position: absolute;
  top: 25px;
  left: 47%;
}
.date{
    color: grey;
    margin-top: 20px;
}
.date:nth-child(2){
    margin-bottom: 20px;
}
.event_details{   
    display: flex;
    flex-direction: column;
}
.empty_div:hover {
  transform: scale(0.95);
  transition: all 0.5s ease;
}
.event_title {
  font-weight: bold;
}
.link{
    margin-top: 20px;
}

.location{
    color: #5cb85c;
    font-weight: bold;
}
footer {
  z-index: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.125);
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 0;
  top: 100%;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
                          /* Media Qeries */

@media only screen and (min-width:240px) and (max-width:375px){

  .container-fluid{
   margin:5%;
  }

  .event_card::before{
    top: 24px;
    left: 46%;
  }
  .event_card{
    width: 250px;
    height:300px;
    padding:19px;
  }
  .date{
    color: grey;
    margin-top: 10px;
  }
  .date:nth-child(2){
    margin-bottom: 10px;
  }
  .event_title{
    margin:0;
    font-size:25px;
  }
  .event_details{
    font-size: 15px;
  }
  .link{
    margin-top: 0px;
  }
}

        /* 376 to 450px */
@media only screen and (min-width:376px) and (max-width:450px){
  .container-fluid{
    margin:5%;
  }
  .event_card{
    padding:19px;
    margin-right:25px;
  }
  .event_card::before{
    top: 22px;
    left: 48%;
  }
} 

        /* 451px tp 750px */
@media only screen and (min-width:451px) and (max-width:750px){
  .event_card{
    padding:2px;
    width:250px;
    height:250px;
    margin-left:19%;
  }
  .event_card::before{
    top: 22px;
    left: 60%;
  }
  .event_title{
    margin-top:0%;
    margin-bottom:0;
  }
  .event_details{
    font-size: 15px;
  }
  .date{
    margin-top:8px;
  }
  .date:nth-child(2){
    margin-bottom: 8px;
  }
  .orgaisation{
    margin: 0;
  }
  .location{
    margin:0;
  }
  
}